<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <!--配置spring mvc-->
  <!--1、开启spring mvc注解模式-->
  <!--简化配置：
      1、自动注册DefaultAnnotationHandlerMapping
          AnnotationMethodHandlerAdapter
      2、提供了一系列功能：数据绑定、数字和日期的format@NumberFormat @DateTimeFormat
      3、xml 和json默认读写支持-->
  <mvc:annotation-driven>
    <mvc:message-converters>

      <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper">
          <bean class="com.fasterxml.jackson.databind.ObjectMapper">
            <property name="dateFormat">
              <bean class="java.text.SimpleDateFormat">
                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
              </bean>
            </property>

            <property name="serializationInclusion">
                <util:constant static-field="com.fasterxml.jackson.annotation.JsonInclude.Include.NON_NULL" />
            </property>
          </bean>
        </property>
      </bean>
    </mvc:message-converters>
  </mvc:annotation-driven>

  <!--配置登录状态拦截器-->
  <mvc:interceptors>
    <mvc:interceptor>
      <!--进行拦截-->
      <mvc:mapping path="/user/**" />
      <mvc:mapping path="/order/**" />
      <mvc:mapping path="/account/**" />

      <bean id="loginInterceptor" class="interceptor.Login"></bean>
    </mvc:interceptor>
  </mvc:interceptors>

  <!--servlet mapping -->
  <!--静态资源配置 默认servlet配置
  1:加入对静态资源的处理 js gif png
  2:允许使用“/”做整体映射 -->
  <mvc:default-servlet-handler/>

  <!--这里是 Freemarker配置-->
  <bean id="freemarkerConfig"
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
    <property name="templateLoaderPath" value="/static/html/" />
    <property name="freemarkerSettings">
      <props>
        <prop key="date_format">yyyy-MM-dd</prop>
        <prop key="time_format">HH:mm:ss</prop>
        <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
        <prop key="number_format">0.######</prop>
        <prop key="defaultEncoding">UTF-8</prop>
        <prop key="url_escaping_charset">UTF-8</prop>
        <prop key="locale">zh_CN</prop>
        <prop key="template_update_delay">0</prop>
      </props>
    </property>
    <property name="freemarkerVariables">
      <map>
        <entry key="xml_escape" value-ref="fmXmlEscape" />
        <!--下面四个是在下面定义的-->
        <entry key="extends" value-ref="extendsDirective"/>
        <entry key="override" value-ref="overrideDirective"/>
        <entry key="block" value-ref="blockDirective"/>
        <entry key="super" value-ref="superDirective"/>
      </map>
    </property>
  </bean>

  <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
  <bean id="extendsDirective" class="cn.org.rapid_framework.freemarker.directive.ExtendsDirective" />
  <bean id="overrideDirective" class="cn.org.rapid_framework.freemarker.directive.OverrideDirective" />
  <bean id="blockDirective" class="cn.org.rapid_framework.freemarker.directive.BlockDirective" />
  <bean id="superDirective" class="cn.org.rapid_framework.freemarker.directive.SuperDirective" />

  <bean id="viewResolver"
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
    <property name="exposeSpringMacroHelpers" value="true" />
    <property name="requestContextAttribute" value="rc" />
    <property name="suffix" value=".ftl" />
    <property name="contentType" value="text/html;charset=UTF-8"></property>
  </bean>

  <import resource="classpath:dubbo/dubbo-consumer.xml" />

  <dubbo:annotation package="controller" />

  <context:component-scan base-package="controller" />
  <context:component-scan base-package="swagger" />

</beans>